body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1.Nombre {
    color: #333;
    text-align: center;
  }
  
  p.intereses {
    font-style: italic;
    text-align: center;
  }
  strong.Titulo{
    color: rgb(106, 7, 228);
  }

  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  #Ep {
    font-weight: bold;
    color: #444;
  }
  
  #Ps {
    color: white;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
  }

  
  
  
  
  
  